body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    width: 50px;
    height: 25px;
    margin: 5px;
}

.gauge-legend {
    text-align: left;
}

.gauge-data {
    display: inline-block;
}

#button-submit {
    font-size: large;
    height: 30px;
    margin: 20px;
    width: 100px;
}

#gauge-measurements {
    align-items: center;
    border: none;
}

#gauge-measurements-content {
    display: flex;
    align-items: center;
}

#gauge-measurments-legend {
    margin-right: 1em;
    min-width: 100px;
}

#results {
    display: none;
}